$def with (account)
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <script type="text/javascript" src="/js/jquery-1.8.3.js"></script>
        <script>
        var userAccount = false;
        var userFriends = false;
        function getLocalAccount() {
            \$.ajax({
                url: "/api/Accounts/GetAccount",
                data: "accounts=$account.id64",
                type: "post"
            }).done(function(response) {
                console.log("Got response")
                if (response["accounts"] != null) {
                    console.log(response["accounts"])
                    userAccount = response["accounts"]["$account.id64"];
                    getAccountFriends(userAccount)
                }
                else {
                    getLocalAccount();
                }
            });
        }
        getLocalAccount()

        function getAccountFriends(account) {
            \$.ajax({
               url: "/api/Accounts/GetAccount",
               data: "accounts=" + account["friends"].join(","),
               type: "post"
           }).done(function(response) {
               if (response["accounts"]) {
                   userFriends = response["accounts"];
               }
               else {
                   getAccountFriends(account);
               }
           });
        }
        </script>
    </head>
    <body>
        <p><img id="header" src="img/mp-logo.png" alt="Steam Wishlists"></p>
        <div id="UserWidget">
            <img style="width:64px;"
                src="$account.avatarUrl"
                alt="$account.name"/>
            <h1>$account.name</h1></div>
        <div id="wishlistWidgets">
        </div>


        <p>Debug info:
            <ul>
                <li> Friends: <span id="friendCount"></span>
                    <ul>
                        <li>Visible: <span id="visibleCount"></span></li>
                        <li>Private: <span id="privateCount"></span></li>
                        <li>Have wishlists: <span id="haveWishlistCount"></span></li>
                    </ul>
                </li>
                <li> Total wishlist count: TODO</li>
                <li> Distinct games count: TODO</li>
            </ul>
        </p>
    </body>
</html>